.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}
.dialogsItems{
padding: 10 px;
color: aliceblue;
}

.dialogsItems .active{
    color: gold;
}

.messages{
    padding: 10 px;
}
.messages .message{
    color: aliceblue;
}
